<?xml version="1.0"?>
<launch>

  <!--**********************************************************-->
  <!-- Hi-Ros Skeleton Merger Node: Parameters override and Run -->
  <!--**********************************************************-->
  <include file="$(find hiros_skeleton_merger)/launch/default.launch">
    <arg name="node_required"         value="false"          />
    <arg name="node_name"             value="merger_01"      />

    <arg name="input_topic"           value="/skel_tracks"   />
    <arg name="output_topic"          value="/merged_tracks" />

    <arg name="n_detectors"           value="4"              />
    <arg name="max_delta_t"           value="0.033"          />

    <arg name="max_position_delta"    value="0.2"            />
    <arg name="max_orientation_delta" value="1.57079632679"  />
  </include>

</launch>
